html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif !important;
  font-weight: 400;
  color: black;
  overflow-x: hidden;
}

a,
img,
a > span {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

b,
strong {
  font-weight: 600;
}

.btn {
  border-width: 2px;
  font-size: 15px;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.btn-main {
  width: 132px;
  position: relative;
  text-decoration: none;
  margin: 0 auto;
  display: flex;
}

.btn-main > span:first-child {
  width: 120px;
  position: relative;
  border-width: 2px;
  font-size: 15px;
  letter-spacing: -0.03em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  height: 37px;
  background-color: #0061ff;
  border-radius: 50px;
  z-index: 1;
  margin-left: -10px;
}

.btn-main > span:last-child {
  position: absolute;
  right: -11px;
  top: 0;
  border: 2px solid #0d6efd;
  background-color: white;
  display: flex;
  height: 37px;
  border-radius: 50px;
  width: 62px;
  color: #0d6efd;
  font-size: 24px;
  justify-content: center;
  padding-left: 25px;
}

.btn-main-white {
  width: 232px;
  position: relative;
  text-decoration: none;
  margin: 0 auto;
  display: flex;
}

.btn-main-white > span:first-child {
  width: 212px;
  position: relative;
  border-width: 2px;
  font-size: 19px;
  letter-spacing: -0.03em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
  height: 45px;
  background-color: white;
  border-radius: 50px;
  z-index: 1;
  margin-left: -10px;
}

.btn-main-white > span:last-child {
  position: absolute;
  right: -11px;
  top: 0;
  border: 2px solid white;
  display: flex;
  height: 45px;
  border-radius: 50px;
  width: 79px;
  color: white;
  font-size: 34px;
  justify-content: center;
  padding-left: 25px;
  align-items: center;
}

.site-header-skinny header,
.site-header header {
  margin-bottom: 3rem;
  margin-top: 2.5rem;
}

.intro {
  padding-top: 1.5rem;
}

.intro .section-title {
  font-size: 3.8rem;
  padding: 4rem 0 3.5rem 0;
  margin: 0;
  display: block;
}

.hero-section {
  background: url(/img/desktop-header.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-header-skinny {
  background: url(/img/desktop-header.jpg);
  background-size: cover;
  min-height: 100px;
  display: flex;
}

.site-header .g-4 {
  --bs-gutter-x: 10.5rem;
}

.feature {
  margin-bottom: 48px;
}

.feature p {
  line-height: 1.125rem;
  font-size: 15px;
}

.social-network .btn {
  border-radius: 10px;
  width: 30px;
  line-height: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.social-network .btn i {
  font-size: 20px;
}

.feature-icon {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon img {
  max-width: 70px;
  max-height: 55px;
}

.icon-custom {
  margin-top: -19px;
  margin-left: -6px;
  display: inline;
}

.program-icon {
  min-height: 24px;
  display: inline-block;
}

.program-icon img {
  max-width: 24px;
  max-height: 24px;
  margin-left: 2px;
  margin-right: 2px;
  display: inherit;
}

.section-1 {
  min-height: 112vh;
  display: flex;
  color: white;
  position: relative;
  background-image: url(/img/what-we-do.png);
  background-color: #0061ff;
  background-size: 41%;
  background-repeat: no-repeat;
  background-position: 17% 41%;
}

.section-1 .text-content {
  font-size: 34px;
  line-height: 1.2;
  padding-top: 0;
}

.section-what-we-do .col-1 {
  position: relative;
}

.section-what-we-do .section-label {
  font-family: "LFT Etica Mono";
  font-weight: 600;
  font-style: normal;
  position: absolute;
  font-size: 23px;
  transform: rotate(-90deg);
  top: 61px;
  left: 0;
  width: 150px;
}

.section-2 .section-title {
  font-size: 54px;
  line-height: 1;
  margin-top: 225px;
}

.section-2 .section-title .icon-custom {
  margin-top: -36px;
  margin-left: -14px;
}

.section-3 {
  display: flex;
}

.section-3 p {
  line-height: 1.2;
  font-size: 18px;
}

.section-3 .container {
  background-image: url(/img/bg-section-3.jpg);
  background-size: contain;
  background-position: center 224px;
  background-repeat: no-repeat;
  padding-top: 410px;
  margin-bottom: 300px;
}

.section-3 .box-content.box-3 {
  padding-left: 10rem;
  padding-right: 6rem;
  padding-top: 264px;
}

.section-3 .box-content.box-4 {
  padding-left: 10rem;
  padding-right: 6rem;
  padding-top: 264px;
}

.box-content.box-3 .section-subtitle::before {
  content: "03";
  position: absolute;
  left: -80px;
  top: 10px;
  transform: rotate(-90deg);
  font-family: "LFT Etica Mono";
  font-weight: 600;
  font-style: normal;
  font-size: 23px;
}

.box-content.box-4 .section-subtitle::before {
  content: "04";
  position: absolute;
  left: -80px;
  top: 10px;
  transform: rotate(-90deg);
  font-family: "LFT Etica Mono";
  font-weight: 600;
  font-style: normal;
  font-size: 23px;
}

.section-creation .section-subtitle {
  font-size: 39px;
  letter-spacing: -0.03em;
  margin-bottom: 48px;
  position: relative;
}

.section-creation .box-content {
  padding-left: 10rem;
  padding-right: 5rem;
  padding-top: 56px;
}

.section-creation .section-subtitle::before {
  content: "01";
  position: absolute;
  left: -80px;
  top: 10px;
  transform: rotate(-90deg);
  font-family: "LFT Etica Mono";
  font-weight: 600;
  font-style: normal;
  font-size: 23px;
}

.section-creation .img-fluid {
  margin-top: -190px;
}

.section-creation .btn.rounded-pill {
  margin-top: 3rem;
}

.section-generation .section-subtitle {
  font-size: 39px;
  letter-spacing: -0.03em;
  margin-bottom: 48px;
  position: relative;
}

.section-generation .box-content {
  padding-left: 10rem;
  padding-right: 6rem;
  padding-top: 264px;
}

.section-generation .section-subtitle::before {
  content: "02";
  position: absolute;
  left: -80px;
  top: 10px;
  transform: rotate(-90deg);
  font-family: "LFT Etica Mono";
  font-weight: 600;
  font-style: normal;
  font-size: 23px;
}

.section-generation .img-fluid {
  margin-top: -10px;
  max-width: 103%;
}

.section-generation .btn.rounded-pill {
  margin-top: 3rem;
}

.section-review {
  padding-top: 30px;
}

.section-review .section-subtitle {
  font-size: 39px;
  letter-spacing: -0.03em;
  margin-bottom: 48px;
  position: relative;
}

.section-review .box-content {
  padding-left: 10rem;
  padding-right: 6rem;
  padding-top: 264px;
}

.section-review .section-subtitle::before {
  content: "03";
  position: absolute;
  left: -80px;
  top: 10px;
  transform: rotate(-90deg);
  font-family: "LFT Etica Mono";
  font-weight: 600;
  font-style: normal;
  font-size: 23px;
}

.section-review .img-fluid {
  max-width: 135%;
  margin: 0 0 0 -110px;
}

.section-review .btn.rounded-pill {
  margin-top: 3rem;
}

.section-payment .section-subtitle {
  font-size: 39px;
  letter-spacing: -0.03em;
  margin-bottom: 48px;
  position: relative;
}

.section-payment .box-content {
  padding-left: 10rem;
  padding-right: 5rem;
  padding-top: 296px;
}

.section-payment .section-subtitle::before {
  content: "04";
  position: absolute;
  left: -80px;
  top: 9px;
  transform: rotate(-90deg);
  font-family: "LFT Etica Mono";
  font-weight: 600;
  font-style: normal;
  font-size: 23px;
}

.section-payment .img-fluid {
  margin: 38px 0 0 0;
  max-width: 104%;
}

.section-payment .btn.rounded-pill {
  margin-top: 3rem;
}

.section-4 {
  background: url(/img/bg-footer.jpg);
  background-size: cover;
  min-height: 80vh;
  display: flex;
}

.section-4 .section-title {
  font-size: 54px;
  line-height: 1;
  margin-top: 225px;
}

.site-footer {
  background-color: white;
  min-height: 210px;
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.btn-main:hover > span:first-child {
  color: white;
  background-color: black;
}

.btn-main:hover > span:last-child {
  color: #0a58ca;
  background-color: white;
  border-color: black;
}

.btn-main-white:hover > span:first-child {
  color: white;
  background-color: black;
}

.btn-main-white:hover > span:last-child {
  color: #0a58ca;
  background-color: white;
  border-color: black;
}

@media (max-width: 1399px) {
  .site-header .g-4 {
    --bs-gutter-x: 2.5rem;
  }

  .site-header header {
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .btn.rounded-pill {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
  }

  .social-network .btn i {
    font-size: 18px;
  }

  .social-network .btn {
    width: 28px;
    line-height: 28px;
    height: 28px;
  }

  .intro .section-title {
    padding: 1rem 0 3.5rem 0;
    font-size: 3.2rem;
    line-height: 1;
  }

  .intro .feature {
    min-height: 240px;
  }

  .section-1 .text-content {
    font-size: 31px;
    line-height: 1.1;
  }

  .section-2 .section-title {
    font-size: 44px;
    margin-top: 155px;
  }

  .section-3 .container {
    background-position: center 114px;
    padding-top: 310px;
    margin-bottom: 150px;
  }

  .section-creation .section-subtitle,
  .section-generation .section-subtitle,
  .section-review .section-subtitle,
  .section-payment .section-subtitle {
    font-size: 33px;
    margin-bottom: 28px;
  }

  .section-creation .box-content {
    padding-left: 8rem;
    padding-top: 0;
  }

  .section-generation .box-content {
    padding-left: 8rem;
    padding-top: 154px;
  }

  .section-review .box-content {
    padding-left: 8rem;
    padding-top: 184px;
  }

  .section-payment .box-content {
    padding-left: 8rem;
    padding-top: 186px;
  }

  .section-creation .section-subtitle::before,
  .section-generation .section-subtitle::before,
  .section-review .section-subtitle::before,
  .section-payment .section-subtitle::before {
    left: -60px;
    font-size: 21px;
  }

  .section-creation .btn.rounded-pill,
  .section-generation .btn.rounded-pill,
  .section-payment .btn.rounded-pill {
    margin-top: 2rem;
  }

  .section-4 .section-title {
    font-size: 3.2rem;
  }
}

@media (min-width: 992px) {
  .site-header-mobile,
  .mobile-break,
  .box-actions-mobile {
    display: none;
  }
}

@media (max-width: 991px) {
  .site-header {
    background-image: url(/img/mobile-header.jpg);
    background-size: auto;
  }

  .site-header .nav,
  .site-header-skinny .nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff70;
    z-index: 1;
    backdrop-filter: blur(12px);
    padding: 1rem;
    height: 100vh;
    transform: translateX(100vw);
    transition: all 0.3s ease-in-out;
  }

  .site-header .nav-open,
  .site-header-skinny .nav-open {
    transform: translateX(0);
  }

  .site-header .nav > a,
  .site-header-skinny .nav > a {
    margin: 1rem;
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0 !important;
  }

  header .nav .social-network {
    display: none;
  }

  .hamburger {
    z-index: 2;
    background-color: #ffffff4f;
  }

  .hamburger > span {
    transition: all 0.3s ease-in-out;
  }

  .hamburger-close > span:nth-child(2) {
    visibility: hidden;
  }

  .hamburger-close > span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 5px);
  }

  .hamburger-close > span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
  }

  .intro .social-network {
    margin: 0 1rem;
  }

  .bg-header-mobile {
    height: 100vh;
  }

  .bg-header-mobile .btn.rounded-pill {
    font-size: 14px;
  }

  .site-header-mobile {
    background-image: url(/img/mobile-header.jpg);
  }

  .site-header-mobile .intro {
    padding-bottom: 4.5rem;
  }

  .intro .section-title {
    padding: 0 0 3.5rem 0;
    font-size: 2.2rem;
    line-height: 1.2;
  }

  .section-1 {
    background-size: 71%;
    background-position: center 81%;
  }

  .section-what-we-do .section-label {
    left: -50px;
  }

  .section-1 .text-content {
    font-size: 21px;
    line-height: 1.3;
  }

  .section-what-we-do .section-label {
    font-size: 18px;
    top: 34px;
  }

  .section-2 .section-title {
    font-size: 34px;
    line-height: 1.2;
  }

  .mobile-break {
    display: block;
  }

  .section-3 .container {
    background-image: url(/img/bg-section-3-mobile.jpg);
    background-position: center center;
    padding-top: 210px;
    margin-bottom: 130px;
    background-size: auto 100%;
  }

  .section-3 .col-6 {
    width: auto;
  }

  .section-generation .box-content {
    padding-top: 234px;
  }

  .section-review .box-content {
    padding-top: 154px;
  }

  .section-creation .box-content,
  .section-generation .box-content,
  .section-review .box-content,
  .section-payment .box-content {
    padding-left: 6rem;
    padding-right: 1rem;
  }

  .section-creation .img-fluid,
  .section-generation .img-fluid,
  .section-review .img-fluid,
  .section-payment .img-fluid {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }

  .section-payment {
    padding-bottom: 50px;
  }

  .box-actions-mobile {
    text-align: center;
  }

  .section-4 {
    min-height: 100vh;
  }

  .site-footer .container {
    padding: 0 50px;
  }

  .site-footer .nav {
    flex: 1;
    justify-content: space-between !important;
  }

  .footer-brand img {
    max-width: 80%;
  }
}

.bi-mirror {
  background-image: url(/img/book-solid.svg) !important;
  background-size: 18px 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.bi-mirror:hover {
  color: white;
  background-color: transparent;
}

.blue-button:hover {
  color:#fff;
}