@font-face {
  font-family: "LFT Etica Mono";
  src: url("/fonts/LFTEticaMono-SemiBold.eot");
  src: local("LFT Etica Mono SemiBold"), local("LFTEticaMono-SemiBold"),
    url("/fonts/LFTEticaMono-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/LFTEticaMono-SemiBold.woff2") format("woff2"),
    url("/fonts/LFTEticaMono-SemiBold.woff") format("woff"),
    url("/fonts/LFTEticaMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
