/* Algolia Search CSS */
select.ais-MenuSelect-select {
    width: 230px;
}

span.ais-RefinementList-labelText {
    padding-left: 10px;
}

span.ais-RefinementList-count::before {
    content: "(";
}

span.ais-RefinementList-count::after {
    content: ")";
}

.ais-Pagination-list {
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.ais-Pagination-item,
.ais-Pagination-link {
    align-items: center;
    display: flex;
    justify-content: center;
}

.ais-Pagination-item {
    height: 38px;
    width: 38px;
}

.ais-Pagination-item {
    background-color: rgba(65, 66, 71, 0.08);
    border-radius: 4px;
    color: #414247;
}

.ais-Pagination-item--selected {
    background-color: #22acec;
    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.34),
            rgba(255, 255, 255, 0));
    font-weight: bold;
}

.ais-Pagination-item--firstPage,
.ais-Pagination-item--previousPage,
.ais-Pagination-item--nextPage,
.ais-Pagination-item--lastPage {
    background: none;
}

.ais-Pagination-item--disabled {
    opacity: 0.33;
}

.ais-Pagination-item--selected a {
    color: #fff;
}

.ais-Pagination-item.ais-Pagination-item--page {
    margin-right: 4px;
}

.ais-Pagination-item.ais-Pagination-item--previousPage {
    margin-right: 1rem;
}

.ais-Pagination-item.ais-Pagination-item--nextPage {
    margin-left: calc(1rem - 4px);
}

.ais-Pagination-link {
    height: 100%;
    width: 100%;
}

.ais-SearchBox {
    flex-grow: 0;
    margin-bottom: 8px;
}

#searchbox,
#stats {
    flex-grow: 0;
}

.ais-SearchBox {
    position: relative;
    height: auto;
    width: 100%;
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon {
    position: absolute;
    top: 0;
    right: 0;
    left: inherit;
    margin: 13px 10px;
    cursor: pointer;
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon {
    width: 13px;
    height: 13px;
    display: block;
    right: 0;
    left: unset;
}

.ais-SearchBox-submitIcon path {
    fill: hsl(233, 100%, 66%);
}

.ais-SearchBox-resetIcon path {
    fill: #ed5a6a;
}

.ais-SearchBox-resetIcon {
    background: none;
    padding: 0;
    border: none;
    right: 30px;
}

.ais-SearchBox-input {
    width: 100%;
    padding: 8px 16px;
    font-weight: normal;
    border: 0;
    font-size: 14px;
    line-height: 24px;
}

.ais-RefinementList-item {
    padding-bottom: 1rem;
}

/* Algolia Search CSS */